USE [TanKim]
GO
/****** Object:  Table [dbo].[Config]    Script Date: 01-Mar-18 3:17:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Config](
	[Key] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Config] PRIMARY KEY CLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Floor]    Script Date: 01-Mar-18 3:17:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Floor](
	[FloorId] [int] IDENTITY(1,1) NOT NULL,
	[FloorName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Floor] PRIMARY KEY CLUSTERED 
(
	[FloorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InOut]    Script Date: 01-Mar-18 3:17:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InOut](
	[InOutId] [bigint] IDENTITY(1,1) NOT NULL,
	[RoomId] [int] NULL,
	[PersonNumber] [int] NOT NULL,
	[CheckinTime] [datetime] NOT NULL,
	[CheckOutTime] [datetime] NOT NULL,
	[PayDate] [datetime] NOT NULL,
	[LengthStay] [decimal](18, 2) NOT NULL,
	[RoomServiceType] [int] NOT NULL,
	[RoomServiceAmount] [decimal](18, 2) NOT NULL,
	[OtherServiceAmount] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[IsDouble] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.InOut] PRIMARY KEY CLUSTERED 
(
	[InOutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InOut_OtherServices]    Script Date: 01-Mar-18 3:17:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InOut_OtherServices](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[InOutId] [bigint] NOT NULL,
	[OtherServiceId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_dbo.InOut_OtherServices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OtherService]    Script Date: 01-Mar-18 3:17:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OtherService](
	[OtherServiceId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.OtherService] PRIMARY KEY CLUSTERED 
(
	[OtherServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 01-Mar-18 3:17:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 01-Mar-18 3:17:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RoomId] [int] IDENTITY(1,1) NOT NULL,
	[RoomName] [nvarchar](max) NOT NULL,
	[FloorId] [int] NOT NULL,
	[Status] [bit] NOT NULL,
	[IsDouble] [bit] NOT NULL,
	[TypeID] [int] NULL,
	[Src] [nvarchar](250) NULL,
	[Descreption] [nvarchar](550) NULL,
	[Content] [nvarchar](max) NULL,
	[Order] [int] NULL,
 CONSTRAINT [PK_dbo.Room] PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomServicePrice]    Script Date: 01-Mar-18 3:17:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomServicePrice](
	[RoomServicePriceId] [int] IDENTITY(1,1) NOT NULL,
	[RoomServiceType] [int] NOT NULL,
	[Minutes] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.RoomServicePrice] PRIMARY KEY CLUSTERED 
(
	[RoomServicePriceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slide]    Script Date: 01-Mar-18 3:17:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slide](
	[SlideID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Image] [nvarchar](250) NULL,
	[CreateTime] [datetime] NULL,
	[Order] [int] NULL,
	[RoomID] [int] NULL,
 CONSTRAINT [PK_Slide] PRIMARY KEY CLUSTERED 
(
	[SlideID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 01-Mar-18 3:17:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](250) NULL,
	[Price] [money] NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 01-Mar-18 3:17:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Address] [nvarchar](50) NULL,
	[FullName] [nvarchar](50) NULL,
	[Sex] [bit] NULL,
	[Phone] [varchar](20) NULL,
	[RoleID] [int] NULL,
	[Lock] [bit] NULL,
	[CreateTime] [datetime] NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Config] ([Key], [Value]) VALUES (N'OverTimeAllow', N'15')
SET IDENTITY_INSERT [dbo].[Floor] ON 

INSERT [dbo].[Floor] ([FloorId], [FloorName]) VALUES (1, N'Tầng 1')
INSERT [dbo].[Floor] ([FloorId], [FloorName]) VALUES (2, N'Tầng 2')
INSERT [dbo].[Floor] ([FloorId], [FloorName]) VALUES (3, N'Tầng 3')
SET IDENTITY_INSERT [dbo].[Floor] OFF
SET IDENTITY_INSERT [dbo].[InOut] ON 

INSERT [dbo].[InOut] ([InOutId], [RoomId], [PersonNumber], [CheckinTime], [CheckOutTime], [PayDate], [LengthStay], [RoomServiceType], [RoomServiceAmount], [OtherServiceAmount], [TotalAmount], [Note], [Status], [IsDouble]) VALUES (412, 3, 1, CAST(N'2015-03-18T15:44:00.000' AS DateTime), CAST(N'2015-03-18T15:44:00.000' AS DateTime), CAST(N'2015-03-18T00:00:00.000' AS DateTime), CAST(48.00 AS Decimal(18, 2)), 0, CAST(50000.00 AS Decimal(18, 2)), CAST(10000.00 AS Decimal(18, 2)), CAST(60000.00 AS Decimal(18, 2)), NULL, 1, 0)
INSERT [dbo].[InOut] ([InOutId], [RoomId], [PersonNumber], [CheckinTime], [CheckOutTime], [PayDate], [LengthStay], [RoomServiceType], [RoomServiceAmount], [OtherServiceAmount], [TotalAmount], [Note], [Status], [IsDouble]) VALUES (413, 2, 1, CAST(N'2015-03-18T17:21:00.000' AS DateTime), CAST(N'2015-03-18T17:21:00.000' AS DateTime), CAST(N'2015-03-18T00:00:00.000' AS DateTime), CAST(24.00 AS Decimal(18, 2)), 0, CAST(50000.00 AS Decimal(18, 2)), CAST(10000.00 AS Decimal(18, 2)), CAST(60000.00 AS Decimal(18, 2)), NULL, 1, 0)
INSERT [dbo].[InOut] ([InOutId], [RoomId], [PersonNumber], [CheckinTime], [CheckOutTime], [PayDate], [LengthStay], [RoomServiceType], [RoomServiceAmount], [OtherServiceAmount], [TotalAmount], [Note], [Status], [IsDouble]) VALUES (414, 2, 1, CAST(N'2015-03-18T17:21:00.000' AS DateTime), CAST(N'2015-03-18T17:21:00.000' AS DateTime), CAST(N'2015-03-18T00:00:00.000' AS DateTime), CAST(24.00 AS Decimal(18, 2)), 0, CAST(50000.00 AS Decimal(18, 2)), CAST(10000.00 AS Decimal(18, 2)), CAST(60000.00 AS Decimal(18, 2)), NULL, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[InOut] OFF
SET IDENTITY_INSERT [dbo].[InOut_OtherServices] ON 

INSERT [dbo].[InOut_OtherServices] ([Id], [InOutId], [OtherServiceId], [Quantity]) VALUES (341, 452, 1, 1)
INSERT [dbo].[InOut_OtherServices] ([Id], [InOutId], [OtherServiceId], [Quantity]) VALUES (342, 452, 3, 1)
INSERT [dbo].[InOut_OtherServices] ([Id], [InOutId], [OtherServiceId], [Quantity]) VALUES (343, 455, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[InOut_OtherServices] OFF
SET IDENTITY_INSERT [dbo].[OtherService] ON 

INSERT [dbo].[OtherService] ([OtherServiceId], [ServiceName], [Price]) VALUES (1, N'Nước suối', CAST(10000.00 AS Decimal(18, 2)))
INSERT [dbo].[OtherService] ([OtherServiceId], [ServiceName], [Price]) VALUES (2, N'Nước ngọt', CAST(10000.00 AS Decimal(18, 2)))
INSERT [dbo].[OtherService] ([OtherServiceId], [ServiceName], [Price]) VALUES (3, N'Bò húc', CAST(15000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OtherService] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [Name]) VALUES (1, N'Quản trị viên')
INSERT [dbo].[Roles] ([RoleID], [Name]) VALUES (2, N'Người dùng')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([RoomId], [RoomName], [FloorId], [Status], [IsDouble], [TypeID], [Src], [Descreption], [Content], [Order]) VALUES (1, N'Phòng 102', 1, 1, 1, 1, N'/Images/VIP/9907850-5554869_59_z.jpg', NULL, NULL, NULL)
INSERT [dbo].[Room] ([RoomId], [RoomName], [FloorId], [Status], [IsDouble], [TypeID], [Src], [Descreption], [Content], [Order]) VALUES (2, N'Phòng 103', 1, 1, 1, 1, N'/Images/VIP/3924520-5554869_89_z.jpg', NULL, NULL, NULL)
INSERT [dbo].[Room] ([RoomId], [RoomName], [FloorId], [Status], [IsDouble], [TypeID], [Src], [Descreption], [Content], [Order]) VALUES (3, N'Phòng 104', 1, 0, 1, 2, N'/Images/Hot/353CFABAFA1D47E4ADB9_27591503.jpg', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Room] OFF
SET IDENTITY_INSERT [dbo].[RoomServicePrice] ON 

INSERT [dbo].[RoomServicePrice] ([RoomServicePriceId], [RoomServiceType], [Minutes], [Price]) VALUES (1, 0, 65, CAST(50000.00 AS Decimal(18, 2)))
INSERT [dbo].[RoomServicePrice] ([RoomServicePriceId], [RoomServiceType], [Minutes], [Price]) VALUES (2, 0, 80, CAST(10000.00 AS Decimal(18, 2)))
INSERT [dbo].[RoomServicePrice] ([RoomServicePriceId], [RoomServiceType], [Minutes], [Price]) VALUES (3, 0, 120, CAST(10000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[RoomServicePrice] OFF
SET IDENTITY_INSERT [dbo].[Slide] ON 

INSERT [dbo].[Slide] ([SlideID], [Title], [Image], [CreateTime], [Order], [RoomID]) VALUES (1, N'Phòng đẹp chất lượng', N'/slide/slide1.jpg', CAST(N'2018-02-28T00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[Slide] ([SlideID], [Title], [Image], [CreateTime], [Order], [RoomID]) VALUES (2, N'WiFi tại sảnh
WiFi trong phòng
Bể bơi
Spa
Bãi đỗ xe
Chấp nhận vật nuôi
Điều hòa nhiệt độ
Nhà hàng
Quầy bar
Phòng Gym', N'/slide/slide2.jpg', CAST(N'2018-02-28T00:00:00.000' AS DateTime), NULL, 2)
INSERT [dbo].[Slide] ([SlideID], [Title], [Image], [CreateTime], [Order], [RoomID]) VALUES (3, N'Tiện nghi hàng đầu
WiFi tại sảnh
Miễn phíWiFi trong phòng
Bể bơi
Spa
Bãi đỗ xe
Chấp nhận vật nuôi
Điều hòa nhiệt độ
Nhà hàng
Quầy bar
Phòng Gym', N'/slide/slide.jpg', CAST(N'2018-02-28T00:00:00.000' AS DateTime), NULL, 3)
SET IDENTITY_INSERT [dbo].[Slide] OFF
SET IDENTITY_INSERT [dbo].[Type] ON 

INSERT [dbo].[Type] ([TypeID], [TypeName], [Price]) VALUES (1, N'V.I.P', 3500000.0000)
INSERT [dbo].[Type] ([TypeID], [TypeName], [Price]) VALUES (2, N'Hot', 2500000.0000)
INSERT [dbo].[Type] ([TypeID], [TypeName], [Price]) VALUES (3, N'Sale', 2000000.0000)
SET IDENTITY_INSERT [dbo].[Type] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [UserName], [Password], [Address], [FullName], [Sex], [Phone], [RoleID], [Lock], [CreateTime]) VALUES (1, N'admin', N'21232f297a57a5a743894a0e4a801fc3', NULL, N'admin', 1, NULL, 1, 0, NULL)
INSERT [dbo].[User] ([UserID], [UserName], [Password], [Address], [FullName], [Sex], [Phone], [RoleID], [Lock], [CreateTime]) VALUES (5, N'minh12', N'c92f1d1f2619172bf87a12e5915702a6', NULL, NULL, NULL, NULL, 2, 0, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_RoleID]  DEFAULT ((2)) FOR [RoleID]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Lock]  DEFAULT ((0)) FOR [Lock]
GO
ALTER TABLE [dbo].[InOut]  WITH CHECK ADD  CONSTRAINT [FK_dbo.InOut_dbo.Room_RoomId] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Room] ([RoomId])
GO
ALTER TABLE [dbo].[InOut] CHECK CONSTRAINT [FK_dbo.InOut_dbo.Room_RoomId]
GO
ALTER TABLE [dbo].[InOut_OtherServices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.InOut_OtherServices_dbo.InOut_InOutId] FOREIGN KEY([InOutId])
REFERENCES [dbo].[InOut] ([InOutId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InOut_OtherServices] CHECK CONSTRAINT [FK_dbo.InOut_OtherServices_dbo.InOut_InOutId]
GO
ALTER TABLE [dbo].[InOut_OtherServices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.InOut_OtherServices_dbo.OtherService_OtherServiceId] FOREIGN KEY([OtherServiceId])
REFERENCES [dbo].[OtherService] ([OtherServiceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InOut_OtherServices] CHECK CONSTRAINT [FK_dbo.InOut_OtherServices_dbo.OtherService_OtherServiceId]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Room_dbo.Floor_FloorId] FOREIGN KEY([FloorId])
REFERENCES [dbo].[Floor] ([FloorId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FK_dbo.Room_dbo.Floor_FloorId]
GO
