<footer>
    <div class="footer">
        <div class="col-md-10">
            <div class="socials">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-google-plus"></a>
            </div>
            <div class="copy">
                XXX Hotel (c) 2018 | <a href="#">Privacy Policy</a> | Website Designed by <a href="#" rel="nofollow">XXX</a>
            </div>
        </div>
    </div>
</footer>
