.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/*
    Multicoloured Hover Variations
*/

#social-fb:hover {
    color: #3B5998;
}

#social-tw:hover {
    color: #4099FF;
}

#social-gp:hover {
    color: #d34836;
}

#social-em:hover {
    color: #f39c12;
}

.wrap {
    min-height: 100%;
}

.main-content {
    overflow: auto;
    padding-bottom: 150px; /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear: both;
    padding-top: 20px;
}

a.add-user {
    color: white;
    text-decoration: none;
}

/*User Profile*/
.user-row {
    margin-bottom: 14px;
}

    .user-row:last-child {
        margin-bottom: 0;
    }

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

    .dropdown-user:hover {
        cursor: pointer;
    }

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

    .table-user-information > tbody > tr:first-child {
        border-top: 0;
    }


    .table-user-information > tbody > tr > td {
        border-top: 0;
    }

.toppad {
    margin-top: 20px;
}

.input-group {
    margin-top: 15px;
}

div#button {
    display: none;
}

button#btnCancel {
    margin-top: 15px;
}

input#btnupdate {
    margin-top: 15px;
}

select#Sex {
    position: relative;
    z-index: 2;
    float: left;
    /* width: 100%; */
    margin-bottom: 0;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    /* -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; */
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.error-msg {
    margin-top: 5px;
}